<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GCP Identity Aware Proxy Headers</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <div class="container">
        <h1>GCP Identity Aware Proxy Headers</h1>
        <hr>
        <div class="status {{.OverallStatus}}">
            <h2>{{.StatusMessage}}</h2>
        </div>
        <table class="header-table">
            <tr>
                <th class="header-column">Header</th>
                <th>Value</th>
            </tr>
            <tr>
                <td class="header-column">
                    <span class="status-indicator">{{statusIndicator .UserEmailStatus}}</span>
                    x-goog-authenticated-user-email
                </td>
                <td class="value-column">{{if .UserEmail}}{{.UserEmail}}{{else}}NOT SET{{end}}</td>
            </tr>
            <tr>
                <td class="header-column">
                    <span class="status-indicator">{{statusIndicator .UserIDStatus}}</span>
                    x-goog-authenticated-user-id
                </td>
                <td class="value-column">{{if .UserID}}{{.UserID}}{{else}}NOT SET{{end}}</td>
            </tr>
            <tr>
                <td class="header-column">
                    <span class="status-indicator">{{statusIndicator .JWTAssertionStatus}}</span>
                    x-goog-iap-jwt-assertion
                </td>
                <td class="value-column">{{if .JWTAssertion}}{{.JWTAssertion}}{{else}}NOT SET{{end}}</td>
            </tr>
        </table>

        {{if .JWTPayload}}
        <h3>Decoded JWT Payload</h3>
        <pre class="payload">{{.JWTPayload}}</pre>
        {{end}}
    </div>

    <footer>
        <p>
            <a href="https://github.com/UnitVectorY-Labs">UnitVectorY Labs</a> | 
            <a href="https://opensource.org/licenses/MIT">MIT License</a> | 
            <a href="https://github.com/UnitVectorY-Labs/iapheaders"><strong>iapheaders</strong> on GitHub</a>
        </p>
     </footer>
</body>
</html>